body {
    font-family: Arial, sans-serif;
    background-color: #eef;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #111;
    color: white;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-align: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.container h1 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

.Feedback-Box {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}



.Feedback-Box textarea {
    resize: none;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}

.input-row {
    display: flex;
    justify-content: space-between;
}

.input-row input {
    width: 48%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}

.input-row input + input {
    margin-left: 4%;
}

.Feedback-Box button {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.Feedback-Box button:hover {
    background-color: #0056b3;
}
.feedback-item {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #a76464;
    cursor: pointer;
}



.feedback-item {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #000000;
    word-wrap: break-word;
    cursor: pointer;
    position: relative;
}

.like-icon {
    font-size: 30px;
    cursor: pointer;
    color: rgb(250, 4, 4);
    margin-right: 8px;
}

.feedback-actions {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
